

.genres{
    position: fixed;
    
    bottom: 0px;
    left:0%;
    right: 0%;
	height: 50px;

	background-color: #0f0a05;

    border-top: 1px solid #ffff;
    
    align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
    /* right to left */
    direction: rtl;

    /* put spaces between elements */
    column-gap: 15px;

}


#genres::-webkit-scrollbar
{
    background:transparent;
    height: 10px;
    
}


#genres::-webkit-scrollbar-thumb{
    background-color:olivedrab;
    border-radius: 0.5em;
    
  }
  


.genre{
    
    height: 25px;
    
    min-width: 90px;
    
    flex-grow: 0;
    flex-shrink: 0;

    font-size: larger;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #ffff;
    
    /* make text in the middle (horizontally and vertically) */
    display: flex;
    align-items: center;
    justify-content: center;
}





@media screen and (max-width: 800px) {
    
    
    #genres{
        visibility: hidden;
    }
  
  }
  