

.genres{
    position: fixed;
    
    bottom: 5px;
    left:0%;
    right: 0%;
	height: 25px;

	/*background-color: #3a3b3d;*/
    
    
    align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
    /* right to left */
    direction: rtl;

    /* put spaces between elements */
    column-gap: 15px;

}


#genres::-webkit-scrollbar
{
	display: none;
    
}



.genre{
    
    height: 25px;
    
    min-width: 90px;
    
    flex-grow: 0;
    flex-shrink: 0;

    font-size: larger;
    text-decoration: underline;

    cursor: pointer;

    padding: 5px;
    /*border: solid #515357;*/
    
    border-radius: 10px;
    /*background-color: #171718;*/
    background: linear-gradient(to right, rgb(15, 15, 5) 0%,rgb(48, 45, 31) 90%);
    color:#ffd52d;
    /* make text in the middle (horizontally and vertically) */
    display: flex;
    align-items: center;
    justify-content: center;
}


