

.toolbar{
    position:fixed;
    top:10px;
    left:0%;
    right: 0%;
    height: 50px;
    
   
    background-color: #3a3b3d;
    box-shadow:  -2px -2px 6px rgba(255,255,255,.05),
                 2px 2px 6px rgba(0,0,0,.8) ;
    
}


.topToolbar{
    
    position: absolute;
    left: 0%;
    right: 50%;
    height: 50px;

    
    align-items: center;
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
    /* right to left */
    direction: ltr;

    /* put spaces between elements */
    column-gap: 20px;


}



#topToolbar::-webkit-scrollbar
{
	display: none;
    
}



.topToolbar .topToolbar-box{
    flex-grow: 0;
    flex-shrink: 0;


   
    color: #ffff;
    font-weight: bold;

    height: 50px;

    padding-left: 5px;
    padding-right: 5px;
    border-radius: 0.5em;
    

    cursor: pointer;

    /* make text in the middle (horizontally and vertically) */
    display: flex;
    align-items: center;
    justify-content: center;

}


.topToolbar .topToolbar-box img{
    height: 40px;
}









.menu{
    position:fixed;
    top:65px;
    right:5px;
    height: 25px;
    width: 35px;
    cursor: pointer;
    visibility: hidden;
}
.menu img{
    width: 35px;
    height: 25px;
}

.menu:active{
    transform: translateY(4px);
}




.sideToolbarStopScreen{
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    visibility: hidden;
    
}


.sideToolbar{
    position: fixed;
    top:65px;
    right: 0px;
    bottom: 0px;
    min-width: 200px;
    background-color: #3a3b3d;
    visibility: hidden;


    align-items: center;
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: auto;
    

    /* put spaces between elements */
    row-gap: 10px;

}



.sideToolbar .sideToolbar-box{
    flex-grow: 0;
    flex-shrink: 0;
   
    color: #ffff;
    font-weight: bold;

    height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    
    cursor: pointer;

    /* make text in the middle (horizontally and vertically) */
    display: flex;
    align-items: center;
    justify-content: center;

}


.sideToolbar .sideGenre{
    flex-grow: 0;
    flex-shrink: 0;
   
    color: #ffffff;
    font-weight: bold;

    height: 25px;
    min-width: 50%;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #ffff;
    
    cursor: pointer;
    direction: rtl;

    /* make text in the middle (horizontally and vertically) */
    display: flex;
    align-items: center;
    justify-content: center;

}

.sideToolbar .line{
    
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;
    background: linear-gradient(90deg,#FA5252 50%,  #FFD52D 50%);
    height: 2px;
}


.sideToolbar .coloredLine{
    
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;
    background: linear-gradient(90deg,#FA5252 100%,#FFD52D 0%);
    height: 25px;
}







.sideToolbar .sideToolbar-box img{
    height: 25px;
}



#sideToolbar::-webkit-scrollbar
{
    background:transparent;
    width: 5px;
    
}


#sideToolbar::-webkit-scrollbar-thumb{
    background-color:#FA5252;
    border-radius: 0.5em;
    
  }
  




@media screen and (max-width: 800px) {
    
    .topToolbar{
      right: 65%;
      
      
    }
    #FavID,#ProfileID,#HistoryID,#AskID{
        visibility: hidden;
    }
    
    
    .topToolbar .topToolbar-box img{
        height: 50px;
    }

    .menu{
        visibility: visible;
    }
  
  }
  


