

.worlds{


    position: relative;
    min-height: 50px;
    margin-top: 5px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;


    
    display: flex;
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

}





.world{


    height: 130px;
    width: 130px;
    
   

    font-size: medium;
    font-weight: bold;
    text-decoration: underline;

    cursor: pointer;

    
    /*border: solid #515357;*/
    border-radius: 10px;
    background-color:#ffd52d;
    color:black;
    
    /* make text in the middle (horizontally and vertically) */
    display: flex;
    align-items: center;
    justify-content: center;

}





.worldName{
    height: 30px;
    min-width: 100px;

    font-size: medium;
    font-weight: bold;
    text-decoration: underline;

    cursor: pointer;

    padding: 5px;
    
    
    border-radius: 10px;
    background-color: #291d16;
    color:white;
    box-shadow:  -2px -2px 6px rgba(255,255,255,.05),
                 2px 2px 6px rgba(0,0,0,.8) ;
    
    /* make text in the middle (horizontally and vertically) */
    display: flex;
    align-items: center;
    justify-content: center;

}



.BreakingWorld{
    background-size: 130px 130px;
    background: url("../../ue/a/worlds/breaking-bad-130px.png");
}



.HarryWorld{
    background-size: 130px 130px;
    background: url("../../ue/a/worlds/harry-potter-130px.png");
}



.MarvelWorld{
    background-size: 130px 130px;
    background: url("../../ue/a/worlds/marvel-130px.png");
}




.worlds .world{
    animation: worldAnimation 1s linear;
}


.worlds .world:hover{
    background-color: #8d8e3e;
}


.worlds .world:active{
    background-color: #8d8e3e;
    transform: translateY(4px);
}


@keyframes worldAnimation {

    50%{
       
        transform: translateY(4px);
    }

    
}





@media screen and (max-width: 800px) {
    
   
    .worlds{
        margin-left: 5px;
        margin-right: 5px;
    }


    .world{
        height: 130px;
        width: 130px;
    }

    
    

  }