* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    }
    body {
     
      background-color: #0f0a05;
      overflow: scroll;
      
    }
    .wrapper {
    
      font-size: 16px;
      width: 90vw;
      max-width: 37.5em;
      position: absolute;
      -webkit-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      left: 50%;
      top: 5%;
  
    }
  
  
    .container {
      position: relatives;
      /*background-color: #201f28;*/
      padding: 3em 1.8em;
      /*border-radius: 0.6em;*/
      -webkit-box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
      box-shadow: 1.2em 2em 3em rgba(0, 0, 0, 0.2);
      border-top: 1px solid #ffff;
    }
    
  
  
  
  
    #result {
      color: #ffffff;
    }
    
    
  
    .input-text{
        position: relative;
        min-height: 50px;
        
      }
      .input-text h1{
        position: absolute;
        top:50%;
        font-weight: bolder;
        font-size: large;
        direction: ltr;

        transform: translate(0%,-50%);

      }


    .input-space{
        position: relative;
        min-height: 50px;
        
        
        background-color: #221e17;
      }

      .input-space input{
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;

        font-size: medium;
        color: #ffffff;

      }




  
  
    .ask-button-space{
      margin-top: 10px;
      position: relative;
      min-height: 60px;
      
      
      
    }
  


    .received{
      position: relative;
      min-height: 150px;
      /*background-color: #201f28;*/
      /*background: linear-gradient(to right, rgb(33, 34, 26) 0%,rgba(247, 203, 9, 0.027) 90%);
      */
      display: block;
      text-align: center;
      font-size: 2em;
      padding: 0.2em 0;
      margin-top: 1em;
      /*margin-bottom: 3em;*/
      /*border-radius: 0.6em;*/
      color: #ffff;

      border: solid #ffff;
      

      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      column-gap: 5px;
    }
  
  
  
  
    .credit{
      position: relative;
      /*background-color: #201f28;*/
      /*background: linear-gradient(to right, rgb(33, 34, 26) 0%,rgba(247, 203, 9, 0.027) 90%);
      */
      display: block;
      text-align: center;
      font-size: 2em;
      padding: 0.2em 0;
      margin-top: 1em;
      /*margin-bottom: 3em;*/
      /*border-radius: 0.6em;*/
      color: #ffff;

      border-top: solid #ffff;
      border-bottom: solid #ffff;

      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      column-gap: 5px;
    }
    
    
    @media screen and (max-width: 600px) {
      .wrapper {
        width: 95vw;
        font-size: 14px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        top: 20px;
      }
      .container {
        padding: 1.5em;
      }
      
    }
    @media screen and (max-width: 380px){
      .wrapper {
        font-size:12px;
      }
    }