

.download-button{
    position :absolute;
    width:250px;
    height:40px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    /*background-color: #ffb92a;*/
    cursor: pointer;
  }
  
  
  .download-btn {
    position :absolute;
    left:0%;
    width: 20%;
    height: 100%;
  }
 
  .dbimg{
    position: absolute;
    top:0%;
    bottom: 0%;
    right: 0%;
    left:0%;
  }

  .download-btn-text{

    position :absolute;
    right:0%;
    width: 80%;
    height: 100%;
    border-radius: 0.5em;

    display: table-cell;
    text-align: center;

    font-size: larger;
    font-weight:bolder;
    vertical-align: middle;
    color: #000000;
    background-color: #FFD52D;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }