

.fav-button{
    position :absolute;
    width: 160px;
    height:40px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
    border: solid #ffb92a;
    cursor: pointer;
  }
  
  
  .fav-btn {
    position :absolute;
    left:0%;
    width: 20%;
    height: 100%;
    
    display: inline-block;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
    
  }
 
  .fimg{
    position: absolute;
    top:0%;
    bottom: 0%;
    right: 0%;
    left:0%;
  }

  .fav-btn-text{

    position :absolute;
    right:0%;
    width: 80%;
    top:50%;
    

    display: table-cell;
    text-align: center;

    font-size: larger;
    font-weight:bolder;
    vertical-align: middle;
    color: #ffff;
    
    
    transform: translate(0%,-50%);

  }
