


.Msg{
    position: fixed;
    top:50%;
    left:50%;
    border-radius: 10px;
    padding: 10px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    
    background-color: #111111;
    
    
    transform: translate(-50%,-50%);
}

.Msg h2{
    
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;

}


.Msg img{
    width: 30%;
    height: 50%;
}







.topSpace{
    position: relative;
    min-height: 25px;
    width: 100%;
}




.loadingBoard{
        position: absolute;
        width: 25px;
        height: 25px;

        top:50%;
        left: 50%;

        transform: translate(-50%,-50%);
        

        z-index: 10;

        animation: rotate  1s infinite;

        

    }

.loadingBoard div{
        border-radius: 50%;
        background-color: #ffff;
    }

    
@keyframes rotate {
    100% {
        transform:translate(-50%,-50%)rotate(180deg);
      
    }
  }

._1stbox{
        position: absolute;
        top:0%;
        left:0%;
        right: 55%;
        bottom: 55%;
    }

._2stbox{
        position: absolute;
        top:0%;
        left:55%;
        right: 0%;
        bottom: 55%;
    }

._3stbox{
        position: absolute;
        top:55%;
        left:0%;
        right: 55%;
        bottom: 0%;
    }

._4stbox{
        position: absolute;
        top:55%;
        left:55%;
        right: 0%;
        bottom: 0%;
    }
