

.play-button{
    position :absolute;
    width:250px;
    height:40px;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    /*background-color: #ffb92a;*/
    cursor: pointer;
  }
  
  
  .play-btn {
    position :absolute;
    left:0%;
    width: 20%;
    height: 100%;
  }
  .play-btn span {
    display: block;
    width:0;
    height:0;
    top:50%;
    left:50%;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    /*border-left: 30px solid #ffb92a;*/
    border-left: 30px solid #ffd52d;
    position: relative;
    /*margin: 18px auto;*/
    transform:translate(-50%,-50%)rotateY(180deg);;
  }


  .play-btn-text{
  
    position :absolute;
    right:0%;
    width: 80%;
    height: 100%;
    border-radius: 0.5em;
    
    display: table-cell;
    text-align: center;

    font-size: larger;
    font-weight:bolder;
    vertical-align: middle;
    color: #000;
    background-color: #FFD52D;
    
    display: flex;
    justify-content: center;
    align-items: center;

  }