


  /* custome select */
  .custome-select{
    margin-top: 10px;
    background-color:#111111;
    position:relative;
    
    height:40px;
    z-index:3;
    
    select{
      background:transparent;
      border:none;
      width:100%;
      height:100%;
      font-size:18px;
      z-index:2;
      padding:0 10px;
      position : relative;
      color: #ffd52d;
      direction: ltr;
      -webkit-appearance:none;
      -moz-appearance:none;
      appearance:none;
      &:hover{
        cursor:pointer;
      }
    }
    option{
        background-color: #111111;
    }
    option:checked {
        background-color: rgb(142, 145, 100);
        }
    
    &:after{
        content: '\25bc';
        font-size:25px;
        width:50px;
        height:30px;
        position : absolute;
        background-color:#ffd52d;
        z-index:1;
        right:20px;
        top:5px;
        text-align:center;
      
    }
  }




/* Episodes */

.episodes_title{
  position: relative;
  /*background-color: #201f28;*/
  direction: rtl;
  margin-right: 10px;
  font-size: 2em;
  
  color:#ffd52d;
}


.episodes{
  position: relative;
  /*background-color: #201f28;*/
  display: block;
  text-align: center;
  font-size: 2em;
  padding: 0.2em 0;
  margin-top: 1em;
  /*margin-bottom: 3em;*/
  /*border-radius: 0.6em;*/


  align-items: center;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  overflow-x:scroll; /*make scrollable*/

  gap: 5px;

  color: #ffd52d;
}

#episodes::-webkit-scrollbar
{
display: none;
  
} 


/*episode card*/



.episode_card {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  width: 100px; /*200*/
  height: 120px; /*390*/
  overflow: hidden;
  transition: 0.5s ease all;
  background-color: #111111; /* extracted from imdb */

  flex-grow: 0;
  flex-shrink: 0;
  

}

.episode_card .arabic_episode{

  position: absolute;
    top:30%;
    height: 20%;
    left: 0;
    width: 100%;
    
    font-size: large;
    font-weight: bolder;

    /*background-color: chocolate;*/
}


.episode_card .episode_number{

  position: absolute;
    top:50%;
    height: 20%;
    left: 0;
    width: 100%;
    
    font-size: large;
    font-weight: bolder;

    /*background-color: green;*/
}



